<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Users List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Roles</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let users of userss | async">
          <td>{{ users.username }}</td>
          <td>{{ users.email }}</td>
          <td>{{ users.roles }}</td>
          <td>
            <button (click)="deleteusers(users.user_id)" class="btn btn-danger">
              Delete
            </button>
            <button
              (click)="usersDetails(users.user_id)"
              class="btn btn-info"
              style="margin-left: 10px"
            >
              Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
